body{
  height: 100vh;
  background-color: var(--main-bg);
  font-family: var(--font);
  font-size: var(--font-size);
  color: var(--white);
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content{
  margin-top: 16px;
  width: calc(100% - 32px);
  height: 350px;
  background-image: url('../images/image-equilibrium.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.card-container{
  margin-top: 50px;
  margin-bottom: 50px;

  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg);
  border-radius: 10px;

  box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
}

.description{
  margin-top: 16px;
  padding: 0 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.price-container{
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-container .value, .price-container .days{
  display: flex;
  align-items: center;
  gap: 10px;
}

.price-container .value{
  color: var(--cyan);
}

.price-container .days{
  color: var(--soft-blue);
}

.line{
  width: 90%;
  height: 1px;
  background-color: var(--line-bg);
}

.card-footer{
  width: 100%;
  padding: 20px 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 32px;
}

.profile-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--white);
  background-image: url('https://avatars.githubusercontent.com/u/57428641?v=4');
  background-size: cover;
}

